<p id="notice"><%= notice %></p>

<div class="container">
<h1>Voisins</h1>

<table class="table  table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col", style="text-align:center; font-size: 15pt">Name</th>
      <th scope="col", style="text-align:center; font-size: 15pt">Phone</th>
      <th scope="col", style="text-align:center; font-size: 15pt">Address</th>
      <th scope="col", style="text-align:center; font-size: 15pt">About</th>
      <th scope="col", style="text-align:center; font-size: 15pt">Favory</th>
      <th colspan="3", scope="col" , style="text-align:center; font-size: 15pt">Operations</th>
    </tr>
  </thead>

  <tbody class="table ">
    <% @voisins.each do |voisin| %>
      <tr class="table-light">
        <td><%= voisin.name %></td>
        <td><%= voisin.phone %></td>
        <td><%= voisin.address %></td>
        <td><%= voisin.about %></td>
        <td><%= voisin.favory %></td>
        <td><%= link_to 'Details', voisin, class: " btn btn-sm btn-outline-info" %></td>
        <td><%= link_to 'Edit', edit_voisin_path(voisin), class: "btn btn-sm btn-outline-dark" %></td>
        <td><%= link_to 'Destroy', voisin, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voisin', new_voisin_path, class: "btn btn-info" %>
</div>